@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Manrope', sans-serif;
  background-image: url(/bg-banner.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: top left;
  background-repeat: repeat-x;
  color: #fff;
  margin: 0;
  padding: 0;
}
img{
  max-width: 100%;
  max-height: 100%;
}
.my-container{
  @apply max-w-[1120px] mx-auto
}
.my-text-gradient{
  @apply bg-gradient-to-r from-red-500 to-blue-500 bg-clip-text text-transparent text-4xl font-semibold
}
/* #FF014F  */
.active{
  @apply px-4 py-2 mr-1 font-medium inline-block rounded-lg text-blue-500 w-full transition-all duration-300
}
.default{
  @apply px-4 py-2 mr-1 font-medium inline-block w-full
}
/* projects section css */
.project-container{
  @apply grid lg:grid-cols-2 grid-cols-1 gap-3 justify-between items-center pt-2 pb-6 border-t
}
.project-container:hover .project-image{
  
}
/* resume section */
.title-btn{
  @apply p-4 text-center rounded-full hover:bg-[#FF014F] font-medium  w-full inline-block ease-in duration-500
}
.title-btn-active{
  @apply p-4 text-center rounded-full bg-[#FF014F] font-medium  w-full inline-block ease-in duration-500
}
/* nav css */
.nav-menu{
  @apply lg:flex justify-between items-center
}
.nav-menu li{
  @apply list-none pt-2 md:pt-0
}
.nav-icon{
  @apply block md:hidden text-3xl cursor-pointer
}
/* biodata css */
.bio-info{
  @apply md:flex justify-between items-center py-2 border-b border-gray-600
}

.hire-me-btn{
  @apply py-4 px-6 inline mt-10 bg-[#040836] hover:bg-[#FF014F] text-white rounded-full transition duration-1000 ease-in-out
}
.send-btn{
  @apply py-4 px-6 inline mt-2 bg-[#040836] hover:bg-[#FF014F] rounded-full ease-in duration-300
}

/* hero section */

/* manage projects css  */
.input-css{
  @apply input input-bordered w-full
}
.published-container {
  @apply grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3 justify-between px-2 md:px-0 py-4
}