@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Manrope', sans-serif;
  background-image: url(/bg-banner.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: top left;
  background-repeat: repeat-x;
  color: #fff;
  margin: 0;
  padding: 0;
}
img{
  max-width: 100%;
  max-height: 100%;
}
.my-container{
  @apply max-w-[1120px] mx-auto
}
/* #FF014F  */
.active{
  @apply px-4 py-2 mr-1 rounded-lg bg-[#FF014F] font-medium inline-block
}
.default{
  @apply px-4 py-2 mr-1 rounded-lg hover:bg-[#FF014F] font-medium inline-block
}
/* projects section css */
.project-info{
  @apply block
}
.show-pro{
  @apply border relative hover:border border-green-600
}
.show-pro:hover .hide-pro{
  display: block;
  transform: scaleY(1);
  transition: all 1s;
}
.hide-pro{
  @apply absolute bottom-0 w-full p-4 bg-[#040836] text-white left-0 hidden
}
/* resume section */
.title-btn{
  @apply p-4 text-center rounded-full hover:bg-[#FF014F] font-medium  w-full inline-block
}

/* nav css */
.nav-menu{
  @apply lg:flex justify-between items-center
}
.nav-menu li{
  @apply list-none pt-2 md:pt-0
}
.nav-icon{
  @apply block md:hidden text-3xl cursor-pointer
}
/* biodata css */
.bio-info{
  @apply md:flex justify-between items-center py-2 border-b border-gray-600
}